<ion-view title="Sobre">
  <ion-content>
      <div class="list">
      	<a class="item item-avatar" onclick="window.open('https://twitter.com/cezarpretto','_blank','location=yes');return false;">
	      <img src="img/cezar.jpg">
	      <h2>Cezar Pretto</h2>
	      <p>Programação frontend - AngularJs - HTML</p>
	    </a>

	    <a class="item item-avatar" onclick="window.open('https://twitter.com/dalcinandre','_blank','location=yes');return false;">
	      <img src="img/andre.jpg">
	      <h2>André Dalcin</h2>
	      <p>Programação backend - PHP</p>
	    </a>

	    <a class="item item-avatar" onclick="window.open('http://www.iappe.com.br','_blank','location=yes');return false;">
	      <img src="img/interativa.jpg">
	      <h2>Interativa FM 99,7</h2>
	      <p>Base de dados</p>
	    </a>
      </div>

      <div class="card">
      <div class="item item-text-wrap text-center">
      		Este projeto é suportado pela Planos Assessoria
      		<br />
      		<a class="button icon-center ion-android-earth" onclick="window.open('http://www.planosassessoria.com.br','_blank','location=yes');return false;"></a>
      		<a class="button icon-center ion-social-twitter" onclick="window.open('https://www.twitter.com/Planos_Assess','_blank','location=yes');return false;"></a>
      		<a class="button icon-center ion-social-facebook" onclick="window.open('https://www.facebook.com/planosassessoria','_blank','location=yes');return false;"></a>
      		<a class="button icon-center ion-social-googleplus" onclick="window.open('https://plus.google.com/109435988461611554635/reviews?hl=pt-BR&gl=br','_blank','location=yes');return false;"></a>
      	</div>
      </div>
  </ion-content>
</ion-view>
