<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.agenda122613" version="0.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Agenda Telefônica Água Boa</name>
  <description>
        Agenda Telefônica de Água Boa
    </description>
  <author email="cezar@planosassessoria.com.br" href="http://planosassessoria.com.br">
      Planos Assessoria
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>